Discovery of acct: URIs for objects

For some forward discovery methods, especially for discovering the actor URL from an HTML page, it would be useful to have a way to discover the acct: URIs for the actor. These are more recognizable for users than the https: JSON-LD URLs.

<!-- Edit the body of your new issue then click the ✓ "Create Issue" button in the top right of the editor. The first line will be the issue title. Assignees and Labels follow after a blank line. Leave an empty line before beginning the body of the issue. -->

@trwnh notes that acct: URIs are not defined to be exclusively Webfinger, so they might not make sense as `href` values of a `<link>` element. I feel like this is a sufficiently obscure use case that if there's any concern about using it, we can let it go.

https://datatracker.ietf.org/doc/html/rfc7565

> Because an 'acct' URI enables abstract identification only and not
   interaction, this specification provides no method for dereferencing
   an 'acct' URI on its own, e.g., as the value of the 'href' attribute
   of an HTML anchor element.  For example, there is no behavior
   specified in this document for an 'acct' URI used as follows:

   > <a href='acct:bob@example.com'>find out more</a>

   > Any protocol that uses 'acct' URIs is responsible for specifying how
   an 'acct' URI is employed in the context of that protocol (in
   particular, how it is dereferenced or resolved; see [[RFC3986](https://datatracker.ietf.org/doc/html/rfc3986)]).  As a
   concrete example, an "Account Information" application of the
   WebFinger protocol [[RFC7033](https://datatracker.ietf.org/doc/html/rfc7033)] might take an 'acct' URI, resolve the
   host portion to find a WebFinger server, and then pass the 'acct' URI
   as a parameter in a WebFinger HTTP request for metadata (i.e., web
   links [[RFC5988](https://datatracker.ietf.org/doc/html/rfc5988)]) about the resource.  For example:

   > GET /.well-known/webfinger?resource=acct%3Abob%40example.com HTTP/1.1

   > The service retrieves the metadata associated with the account
   identified by that URI and then provides that metadata to the
   requesting entity in an HTTP response.

I think it's fine to say "you can use WebFinger to look up these acct: URIs", but then that statement should be attached to an application protocol or profile of some kind. You could then use that profile with the HTML representation:

```http
HTTP/1.1 200 OK
Content-Type: text/html
Link: <https://acct-resolution-via-webfinger.example/>; rel="profile"
```

Otherwise, `<link rel="author" href="https://social.example/.well-known/webfinger?resource=acct:bob@social.example" />` is resolvable by default (and contains a rel=self link to the type=application/activity+json resource). You could extract the JRD `subject` from that author metadata document:

```http
HTTP/1.1 200 OK
Content-Type: application/jrd+json
Content-Location: https://social.example/.well-known/webfinger?resource=acct:bob@social.example

{
  "subject": "acct:bob@social.example",
  "links": [
    {"rel": "self", "type": "application/activity+json", "href": "https://social.example/~bob"}
  ]
}
```

I think you could note that publishers using an acct: URI might lead to potential failure if the consumer *doesn't* know to use WebFinger. The report already notes various failure cases; this is another one.